<div class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <small> <%= review.created_at.strftime("%B %d %Y") %> at <%= review.created_at.strftime("%H:%M") %> </small>
        <small> <%= review.rating %> / 5 </small>
      </div>
      <p class="mb-1"><%= review.content %></small>
    </div>
  <% end %>
</div>

<%= link_to 'Back', restaurant_path(@restaurant) %>
